<!DOCTYPE html>
<html lang="en_GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="date" content="{{ post.date }}" />
    <meta name="description" content="{{ post.description }}" />
    <script src="/assets/script.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <label class="switch">
      <input id="dlswitch" type="checkbox" />
      <span class="slider"></span>
    </label>
    {% include logo.html %}
    <div class="metadata">
      <h5>{{ post.date }}</h5>
      <h5>{{ post.categories }}</h5>
    </div>
    {{ content }}
  </body>
</html>
